*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 10.6fr 0.1fr;
    background: #F4F6F9;
    
}
.wrapper > div{
    /* background: #FFFF; */
    /* border: black solid 1px; */
}

.sidebar{
    grid-column: 100%;
    grid-row: 1/3;
    /* grid-column-start: 1/3; */
    height: 100vh;
    width: 235px;
    background: #ffffff;
    position: fixed;
    z-index: 1;
    transition: all .5s ease;


}
.sidebar_image{
    margin-left: 15px;
}
.sidebar .logo_content{
    height: 40px;
    margin-top: 20px;
}
.sidebar .logo_content .logo{
    display: flex;
    height: 20px;
    width: 20px;
    font-size: 28px; 
    margin-right: 5px;
    align-items: center;
}
.logo1{
    margin-left: 35px;
    /* padding-left: 30px; */
}
.sidebar .logo_content i{
    font-size: 28px;
    margin-right: 5px;
}
.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
}
.profile_image_name{
    padding: 10px;
}

.sidebar #btn{
    position: absolute;
    left: 90%;
    top: 6px;
    color: #fff;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%)
}

.sidebar ul{
    margin-top: 15px;
}

.sidebar ul li{
    position: relative;
    /* height: 4   0px; */
    list-style: none;
    margin: 0 5px;   
    /* line-height: 50px; */
}

.sidebar ul li a{
    color: black;
    align-items: center;
    text-decoration: none;
    display:flex;
}

/* .sidebar ul li :hover{
    /* background-color:#E5E5E5; */
    /* border-radius: 5px; */
/* } */



.sidebar ul li a:after{
    background: #1b1617;
}


/* .sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 20px;
    line-height: 50px;
} */

.sidebar_image{
    width: 200px;
    border-radius: 50%;
}

.dashboard_profile_image{
    display: -webkit-inline-box;
    padding: 15px;
}
.dashboard_profile_image img{
    height: auto;
    width: 2.1em;
}
.dashboard_profile_image .profile_image_name{
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
}

.dashboardLink{
    background-color: #DC3545;
    border-radius: 5px;
    max-height: 40px;
    
}
.icon1{
    font-size: 1.3rem;
    padding-left: 30px;
    /* padding-bottom: 15px; */

    height: 50px;
    min-width: 50px;
    border-radius: 20px;
    line-height: 50px;
    
}
.link_list{
    width: 100%;
}
.links_name{

    padding-left: 10px;
    /* padding-bottom: 5px; */


}

.links_name_with_dropdown{
    padding-left: 15px;
}

.ddIconPadding{
    padding-left: 70px;
}

.sidebar .nav_list .sub-menu ul li:hover{
    /* padding-left: 80px; */
    /* padding: 15px;
    background-color: #DC3545;
    margin: 5px; */
    /* background-color: #0c0c0c; */

     
}
.mainlist{
    margin: 3px;
    max-height: 40px;
    /* text-align: center; */
}
.mainlist:hover{
background-color: #E5E5E5;
border-radius: 5px;

}
.submenulist{
    max-height: 40px;
    
}
.submenulist:hover{
background-color: #E5E5E5;
border-radius: 5px;
}

.icon2{
    font-size: 1.3rem;

    /* padding-left: 10px;  */
}
/* .sidebar .nav_list .sub-menu a{
    /* height: 50px; */
    /* padding: 15px; */
    /* background-color: #893c3c; */
    /* margin: 10px; */
    /* justify-content: center; */
    
/* } */
.submenuA{
    padding: 15px;
    /* background-color: #893c3c; */
    margin: 10px;
}
/* .icon3{
    padding-left: 25px;
    justify-content: center;
    
} */

.newsubmenuA{
    padding-left: 25px;

    margin: 10px;
}
.submenuName{
    padding-left: 20px;
    /* padding-bottom: 20px; */
    text-align: center;
    
}


.newmain .sidebar{
    transition: all .5s ease;
    width: 80px;
    background-color: #ffffff;

    grid-column: 100%;
    grid-row: 1/3;
    height: 100vh;
    
    position: fixed;
    z-index: 1;
}
.newmain .sidebar .logo_content .logo .logo_name{
    display: none;
}
.newmain .sidebar .dashboard_profile_image .profile_image_name{
    display: none;
}

.newmain .sidebar .nav_list .mainlist .dashboardLink .links_name{
    display: none;
}

.newmain .sidebar .nav_list .mainlist span{
    display: none;
}
.newmain .sidebar .nav_list .mainlist .ddIconPadding{
    display: none;
}
.newmain .sidebar .nav_list .sub-menu .subnav_list .submenulist a span{
    display: none;
}

.newmain .sidebar .nav_list .mainlist i{
    /* background-color: aquamarine; */
}

.newmain .sidebar .nav_list .sub-menu .subnav_list .submenulist a{
    /* background-color: blueviolet; */

}
.newmain .sidebar .nav_list li{
    line-height: 0px;
}

.newmain .sidebar .nav_list .mainlist-submenu a i{
     padding-left: 35px;
}

.newmain .sidebar .nav_list .mainlist-submenu .sub-menu .subnav_list li a i{
    padding-left: 5px;
}

.newmain .sidebar .nav_list .mainlist-submenu .sub-menu .subnav_list li{
    /* margin-top: 5px; */
    /* padding-top: 20px; */
    /* margin: 3px; */
    height: 40px;
    
}

.newmain .sidebar .nav_list .mainlist-submenu .sub-menu .subnav_list li a{
    align-content: center;
}

.newmain .navbar{
    transition: all .5s ease;
    width: 1438px;
}

/* .newmain .sidebar .nav_list .sub-menu .subnav_list .submenulist{
} */
.navbar{
    /* grid-column-start: 1/4; */
    /* grid-row-start: 1/2; */
    grid-column: 2/3;
    grid-row: 1/2;
    max-height: 62px;
    width: 1285px;
    max-width: 1800px;
    background: #ffff;
    position: relative;
    border-color: #fff;
    transition: all .5s ease;


}
.nav_list{
    position: relative;

}
.userIcon{
    font-size: 25px;
    float: right;
    padding-right: 25px;
    padding-top: 10px;
    color: #0c0c0c;
}
.navigationIcon{
    font-size: 25px;
    float: left;
    padding-left: 25px;
    padding-top: 10px;
    cursor: pointer;
    /* position: absolute; */
}

.dropdown{
    position: relative;
    float: right;
    
  }
  .drop-content {
    display: none;
    position: absolute;
    background-color: #F8F9FA;
    min-width: 280px;
    font-size: 16px;
    top: 34px;
    right: 20px;
    z-index: 1;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
    border-radius: 5PX;
  }

  .dropdown:hover .drop-content, .dropdown2:hover .drop-content2 {
  display: block;
}
/* drondown links */
.drop-content a {
  padding: 12px 10px;
  border-bottom: 1px solid ;
  display: block;
  transition: all 0.5s ease !important;
}
.dropBtn .drop-content li:hover {
  background-color: rgb(230, 230, 230);
}
.dropdown:hover .dropBtn, .dropdown2:hover .dropBtn2 {
  background-color: rgba(0, 0, 0, 0.3);
}

.pdIcon{
    /* padding: 20px; */
    font-size: 20px;
    padding-left: 10px;
}

.pdLink{
    font-size: 18px;
    padding-left: 10px;
}

.dropdown .drop-content li:hover{
    background-color: #E5E5E5;
}

.dropdown .drop-content li a{
    color: #0c0c0c;
}
.profileText{
    text-align: center;
}

/* .dropdown2 .drop-content2 {
  position: absolute;
  left: 120px;
  top: 126px;
}
.dropBtn2 i {
  margin-left: 15px;
} */
/* toggle css */
.toggle{
position: relative;
width: 60px;
height: 60px;
background: yellow;
cursor: pointer;
}

.dashboardText{
    font-size: 30px;
}

 .content{
    grid-row: 1/3;
    grid-column: 2/3;
    background: #F4F6F9;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    height: 1000px;
    /* margin-bottom: 15px; */
}
.column {
    float: left;
    width: 49%;
    padding: 10px;
    height: 330px;
    background-color: #ffff;
    /* border: 1px solid black; */
    /* padding-left: 10px; */
    border-radius: 8px;

    
  }
.row:after {
    content: "";
    display: table;
    clear: both;
    width: 100%;
  }
  .column2{
      /* margin-left: 4px; */
      margin-left: 15px;
  }
  .column4{
      margin-left: 15px;
      margin-top: 15px;
  }
  .column3{
      margin-top: 15px;
  }
  


.footer{
     /* grid-column-start: 2/4;  */

    /* grid-row-start: 1/2; */

    min-width: 1285px;
     grid-column: 2/3;
    grid-row: 3/4;
    background: #ffff;
    max-width: 1800px;
    height: 70px;
    
}
.footername{
    padding-top: 20px;
    padding-left: 20px;
}



